<main>
  <section id="section-login">
    <p><img src="../assets/img/logo.png" alt="Logo"></p>
    <h2>Login</h2>
    <form>
      <div>
        <label for="usuario">Email</label>
        <input name="usuario" required type="text" placeholder="Email" [(ngModel)]="usuario">

        <br>

        <label for="password">Password</label>
        <input name="password" type="password" placeholder="Senha" [(ngModel)]="senha">
      </div>
      <button (click)="fazerLogin()">Login</button>
    </form>


  </section>


</main>
